@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --bg-black: #000000;
    --text-white: #ffffff;
    --Bright-blue: hsl(220, 98%, 61%);
    --bg-check : linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%), linear-gradient(to right, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
}
body{
    transition: all 0.3s;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #eee;
    box-sizing: border-box;
}
.header-image{
    position: relative;
}
.header-image img{
    width: 100%;
}
.todo-container{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    margin: 0px auto;
    border-radius: 5px;
    color: var(--text-white);
}
.todo-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-heading h1{
    font-size: 32px;
    letter-spacing: 12px;
    font-weight: 400;
}
.text-input{
    width: 100%;
    height: 4em;
    border-radius: 5px;
    border: none;
    margin-top: 2em;
    margin-bottom: 1.5em;
    position: relative;
}
.text-input:focus{
    outline: none;
}
.placeholder {
    position: absolute;
    left: 20px;
    top: 0px;
    background-color: white;
    padding: 0 20px;
  }
  
.text-input:focus ~ .placeholder, .text-input:valid ~ .placeholder {
    display: none;
}
.todo-list{
    background-color: var(--text-white);
    color: var(--bg-black);
    border-radius: 5px;
}
.todo-list ul{
    list-style: none;
}
.todo-text{
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 17px;
    height: 50px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    transition: 0.2s linear;
}
.todo-text:hover p{
    transform: scale(1.1);
}
.todo-text p{
    text-transform: capitalize;
}
span{
    margin-right: 20px;
}
.todo-text:nth-child(even){
    background-color: rgb(224, 219, 219);
}
.menu-width{
    width: 15px;
    height: 15px;
}

.todo-list ul li{
    height : 50px;
}
.todo-list > hr{
    color: yellow;
}
.grey-text{
    color: grey;
    text-decoration: line-through;
}

.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background-color: purple;
    color: white;
    width: 100%;
    max-height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.status-list{
    display: flex;
    align-items: center;
    margin-top: 34px;
}
.status-list li{
    margin-right: 10px;
}
.cross{
    width: 0;
    transition: 0.2s linear;
    background-color: purple ;
    height: 50px;
    columns: var(--text-white);
    display: inline-block;
}
li:hover img{
    width: 15px;
    padding: 0px 10px;
}
.bottom-menu{
    display: none;
}
.clear{
    margin-right: 20px;
}
 @media only screen and (max-width: 850px){
     .header-image img{
         height: 300px;
     }
    .todo-container{
        top: 20%;
        width: 300px;
    }
    .count, .clear{
        display: none;
    } 
    .status-list{
        margin: 0px auto;
        margin-top: 35px;
    }
    .cross{
        width: 15px;
        background-color: white;
        color: var(--bg-black);
        margin-right: 10px;
    }
} 